$color-primary: #e4934b;
$color-secondary: #A5D0A8;
$color-blue: #68999a;
$color-blue--dark: #426162;
$color-white: #ffffff;
$color-footer: #D1D1D1;
$heading_1: #373737;
$heading_2: #4C4C4C;
$heading_3: #545454;
$color-paragraph: #8a8a8a;

