.hero {

    min-height: 100vh;
    &__content {
        margin-left: -2rem;
        padding: 20px;
    }
}



@media (max-width: 767.98px) {
.hero {
    text-align: center;
    img {

        width: 60%;
    }
}

}