.services {
    padding-top: 3rem;
    padding-bottom: $section-padding;

    h2 {
        opacity: 0;
        transition: opacity 1s ease-in;
        will-change: opacity;
        margin-bottom: 18px;
    }

    h3 {
        opacity: 0;
        transition: opacity 1s ease-in;
        will-change: opacity;
        color: $heading_3;


    }

    h4 {
        color: $heading_3;
    }

    &__box-row--1 {
        opacity: 0;
        transition: opacity 1s ease-in;
        will-change: opacity;
    }

    &__box-row--2 {
        margin-top: 2.5rem;
        opacity: 0;
        transition: opacity 1s 0.10s ease-in;
        will-change: opacity;
    }
}